# Analisis Exploratorio

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv('vehiculos_train.csv')

In [8]:
df.head()

,marca,modelo,color,anio_registro,tipo_vehiculo,millas_recorridas,tamanio_motor,transmision,tipo_combustible,precio_vehiculo,num_asientos,num_puertas,problema_averia,id_problema_averia,fecha_averia,complejidad_reparacion,costo_reparacion,horas_reparacion,fecha_reparacion,fraude
0,Jeep,Renegade,Black,2018.0,SUV,17.0,1.4L,Manual,Petrol,16000.0,5.0,5.0,Electrical Issue,5,2018-06-07,1,76.0000,3.0,2018-06-07,0
1,Vauxhall,Insignia,Grey,2011.0,Hatchback,93000.0,NaN,Manual,Petrol,3995.0,5.0,5.0,Excessive Emissions,0,2018-08-09,1,23.5955,1.0,2018-08-09,0
2,Mercedes-Benz,GLC Class,White,2019.0,SUV,6879.0,2.0L,Automatic,Diesel,31498.0,5.0,5.0,Windscreen Crack,0,2021-06-17,1,38.8988,1.0,2021-06-17,0
3,Renault,NaN,NaN,2014.0,Hatchback,20669.0,1.2L,Manual,Petrol,6950.0,5.0,5.0,Brake Pads Worn,0,2018-04-23,1,43.4750,2.0,2018-04-23,0
4,Ford,C-Max,NaN,2007.0,MPV,84786.0,1.6L,Manual,Petrol,NaN,5.0,5.0,Tyre Alignment,0,2018-05-20,1,10.2600,0.5,2018-05-20,0

## Tarea 1: Estadística Básica

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196429 entries, 0 to 196428
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   marca                   196429 non-null  object
 1   modelo                  177768 non-null  object
 2   color                   191581 non-null  object
 3   anio_registro           191599 non-null  float64
 4   tipo_vehiculo           196429 non-null  object
 5   millas_recorridas       193664 non-null  float64
 6   tamanio_motor           195482 non-null  object
 7   transmision             196429 non-null  object
 8   tipo_combustible        196429 non-null  object
 9   precio_vehiculo         186867 non-null  float64
 10  num_asientos            196429 non-null  float64
 11  num_puertas             196429 non-null  float64
 12  problema_averia         196429 non-null  object
 13  id_problema_averia      196429 non-null  int64
 14  fecha_averia            196429 non-null  object
 15  complejidad_reparacion  196429 non-null  int64
 16  costo_reparacion        196429 non-null  float64
 17  horas_reparacion        196429 non-null  float64
 18  fecha_reparacion        196429 non-null  object
 19  fraude                  196429 non-null  int64
dtypes: float64(7), int64(3), object(10)
memory usage: 30.0+ MB

In [ ]:
df.describe()

,anio_registro,millas_recorridas,precio_vehiculo,num_asientos,num_puertas,id_problema_averia,complejidad_reparacion,costo_reparacion,horas_reparacion,fraude
count,191599.000000,1.936640e+05,1.868670e+05,196429.000000,196429.000000,196429.000000,196429.000000,196429.000000,196429.000000,196429.000000
mean,2012.678208,4.867635e+04,1.396373e+04,4.935590,4.358593,0.498511,1.366855,342.198345,12.427234,0.030937
std,5.006846,4.004901e+04,3.307734e+04,1.072501,1.031904,1.131135,0.726668,1057.977648,306.762296,0.173149
min,1900.000000,-1.991700e+04,-6.967960e+05,2.000000,0.000000,0.000000,1.000000,-2989.000000,-28.000000,0.000000
25%,2009.000000,1.464700e+04,4.795000e+03,5.000000,4.000000,0.000000,1.000000,35.570000,1.000000,0.000000
50%,2014.000000,4.000000e+04,8.999000e+03,5.000000,5.000000,0.000000,1.000000,105.430000,2.000000,0.000000
75%,2016.000000,7.557125e+04,1.697000e+04,5.000000,5.000000,0.000000,1.000000,288.750000,4.000000,0.000000
max,3010.000000,1.080000e+06,9.999999e+06,20.000000,7.000000,5.000000,4.000000,98690.116330,73134.610091,1.000000

In [37]:
df.isna().sum()

marca                         0
modelo                    18661
color                      4848
anio_registro              4830
tipo_vehiculo                 0
millas_recorridas          2765
tamanio_motor               947
transmision                   0
tipo_combustible              0
precio_vehiculo            9562
num_asientos                  0
num_puertas                   0
problema_averia               0
id_problema_averia            0
fecha_averia                  0
complejidad_reparacion        0
costo_reparacion              0
horas_reparacion              0
fecha_reparacion              0
fraude                        0
dtype: int64